@{
  Layout = "_Layout";
}


<h3>Below are the details for all stylists working in the salon</h3>

<div id="stylists-list">
  <table style="width=100%">
    <tr>
      <th>Name</th>
      <th>Days Available</th>
      <th>Years Active</th>
      <th>Phone Number</th>
      <th>Client List</th>
    </tr>
    @foreach(var stylist in Model)
    {
      <tr>
        <td>@stylist.GetName()</td>
        <td>@stylist.GetDaysAvailable()</td>
        <td>@stylist.GetYearsActive()</td>
        <td>@stylist.GetPhoneNumber()</td>
        <td><a href="/client-list/@stylist.GetId()">See @stylist.GetName()'s client list</td>
      </tr>
    }
  </table>
</div>
